<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/img/basic/favicon.ico" type="image/x-icon">
    <title>Sign Up</title>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/language.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../assets/css/language.css">
<!--===============================================================================================-->	

 <script type="text/javascript">
    function formCheck(){
       var password = document.getElementById("password").value;
       var pwd2 = document.getElementById("pwd2").value;
       if(password!=pwd2){
       alert("The input of the passwords are not paired!");

       return false;
       }
       return true;
    }
 </script>
<!--===============================================================================================-->	


    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }

        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>

</head>
<body>
{{template "translate.html".}}
<!-- Pre loader -->
<div id="loader" class="loader">
    <div class="plane-container">
        <div class="l-s-2 blink">LOADING</div>
    </div>
</div>

<div id="app" class="paper-loading">
<!-- Header -->
    {{ template "navbar.html" .}}
<div class="light b-t">
    <div id="primary" class="content-area"
         data-bg-possition="center"
         data-bg-repeat="false"
         style="background: url('../assets/img/icon/icon-circles.png');">
        <main id="main" class="site-main">
            <div class="container">
                <div class="col-xl-8 mx-lg-auto p-t-b-80">
                    <header class="text-center">
                        <span id="tishi"></span>
                        <h1 class="register" ></h1>
                        <p class="register0" ></p>
                        <img class="p-t-b-50" src="../assets/img/icon/icon-join.png" alt="">
                    </header>
                    <form ccept-charset="UTF-8" name = register role="form" action="/u/register" method="POST" onsubmit="return formCheck()">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control form-control-lg" id="username" name="username" placeholder="Username">
                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="form-group wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                                    <input type="email" required="required" class="form-control form-control-lg input100" id="email" name="email" placeholder="Email Address">
                                	<span class="focus-input100"></span>
						            <span class="symbol-input100">
							            <i class="fa fa-envelope" aria-hidden="true"></i>
						            </span>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group wrap-input100 validate-input" data-validate = "Password is required">
                                    <input type="password" required="required" class="form-control form-control-lg input100"  id="password" name="password" placeholder="Password">   
                            <span class="focus-input100"></span>
						    <span class="symbol-input100">
							    <i class="fa fa-lock" aria-hidden="true"></i>
						            </span>   
                                </div>                             
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group wrap-input100 validate-input" data-validate = "Password is required">
                                    <input type="password" required="required" class="form-control form-control-lg input100" id = "pwd2" name="password"
                                           placeholder="Confirm Password">
                            <span class="focus-input100"></span>
						    <span class="symbol-input100">
							    <i class="fa fa-lock" aria-hidden="true"></i>
						            </span> 
                                </div>
                            </div>

                            <div class="col-lg-12 ">
                            
                                <input type="submit" class="btn btn-primary btn-lg btn-block"  value="Create Account">
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>
    {{template "footer.html".}}
</div>
<!--End Page page_wrrapper -->


<!--===============================================================================================-->
	<script src="../assets/js/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="../assets/js/register.js"></script>
</body>
</html>