<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/img/basic/favicon.ico" type="image/x-icon">
    <title>Wiki Q&A</title>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/language.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../assets/css/language.css">
    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }

        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet">
</head>
<body>

{{template "translate.html".}}
<!-- Pre loader -->
<div id="loader" class="loader">
    <div class="plane-container">
        <div class="l-s-2 blink">LOADING</div>
    </div>
</div>

<div id="app" class="paper-loading">
    <main class="template-genre">
        <!-- Search Section & Nav -->
        <div class="search-section home-search">
            <!-- Header -->
            {{template "navbar.html".}}
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="container">
                        <div class="col-xl-8 mx-lg-auto">
                            <header class="text-center">
                                <h1>oops!</h1>
                                <p class="section-subtitle">The wiki page you are looking for has not been created yet.</p>
                                <a href="/" class="btn btn-primary btn-action mt-3"> Return to the Home</a>
                                {{ if .is_logged_in }}
                                <a href="/wiki/create" class="btn btn-default btn-action mt-3"> Create the new Wiki</a>
                                {{end}}
                            </header>
                            <div class="masthead">
                                <form>
                                    <input type="text" class="search-field" placeholder="Search Something ... ">
                                    <button type="submit"><i class="icon icon-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- #main -->
            </div>

{{template "footer.html".}}
</div>
</body>
</html>